*{
	padding: 0px;
	margin: 0px;
}
.mod{
	width: 290px;
	margin: 20px;
}
.mod .hd{
	height: auto;
	padding: 0 10px;
	/*border-bottom: 1px solid #ececec;
    border-top: 2px solid #c7c7c7;*/
    overflow: hidden;/*溢出后隐藏内容*/
}
.mod .hd h3{
	font: 400 20px "Microsoft YaHei",tahoma;
	color: #069;
	line-height: 26px;
	text-align: left;
	float: left;
	margin: 10px 0;
}
.mod .hd h3 .dec{
	display: block;
	font: 400 9px arial;
	color: #999;
	line-height: 12px;
}
.topic {
    font-size: 12px;
    height:76px;
    border-top: 1px dotted #ccc;
    overflow: hidden;/*溢出后隐藏内容*/
    padding: 7px 0;

}
.topic .picture {
    float: left;
    padding-right: 15px;
    margin:0px;
    margin-bottom: 5px;
}
.topic .picture img {
    height: 76px;
    width: 114px;
}
.topic .title{
    height: 60px;
    margin:0px;
}
.topic .title a{
    font-size: 14px;
    line-height: 22px;
    color: #222;
    text-decoration:none;
}
.topic .title a:hover{
    text-decoration:underline;
}
.topic .infos a{
    font-size: 12px;
    color: #bbb;
    line-height: 14px;
    text-decoration:none;
}
.topic .infos a:hover{
    text-decoration:underline;
}